@import "variables";

.boa-button-group {
  display: inline-flex;

  & > * {
    flex: 1;
    border-radius: 0;
  }

  &__fluid {
    display: flex;
  }

  &__horizontal {
    & > * {
      &:first-child {
        border-top-left-radius: $boa-button-group-border-radius;
        border-bottom-left-radius: $boa-button-group-border-radius;
      }

      &:last-child {
        border-top-right-radius: $boa-button-group-border-radius;
        border-bottom-right-radius: $boa-button-group-border-radius;
      }
    }
  }

  &__vertical {
    flex-direction: column;

    & > * {
      &:first-child {
        border-top-left-radius: $boa-button-group-border-radius;
        border-top-right-radius: $boa-button-group-border-radius;
      }

      &:last-child {
        border-bottom-left-radius: $boa-button-group-border-radius;
        border-bottom-right-radius: $boa-button-group-border-radius;
      }
    }
  }
}
