:root {
  --boa-button-border-radius: .2em;
}

.boa-button {
  display: inline-block;
  min-height: 1em;
  vertical-align: baseline;

  padding: .8em 1em;

  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;

  border-width: 1px;
  border-style: solid;
  border-radius: var(--boa-button-border-radius);

  cursor: pointer;
  box-sizing: border-box;
  will-change: background, color;
  box-shadow: none;

  transition: opacity .1s ease,
              background .1s ease,
              color .1s ease;
}

.boa-button__block {
  display: block;
}

.boa-button__small {
  font-size: 80%;
}

.boa-button__large {
  font-size: 140%;
}

.boa-button[disabled],
.boa-button__disabled {
  opacity: .45;
  pointer-events: none;
  cursor: not-allowed;
}
