@import 'variables';

$border-color: rgb(192, 192, 192);
$background-color: rgb(192, 192, 192);

.boa-button {
  display: inline-block;

  box-sizing: border-box;
  min-height: 1em;
  padding: .8em 2em;

  vertical-align: baseline;

  border-width: 1px;
  border-style: solid;
  border-radius: $boa-button-border-radius;
  border-color: $border-color;

  background-color: $background-color;
  font-size: 1em;

  cursor: pointer;
  box-shadow: none;
  transition: opacity .1s ease, background .1s ease, color .1s ease;
  will-change: background, color;

  &--block {
    display: block;
    width: 100%;
  }

  &--small {
    font-size: 80%;
  }

  &--large {
    font-size: 140%;
  }

  &[disabled] {
    opacity: $boa-button-disabled-opacity;
    cursor: not-allowed;
    pointer-events: none;
  }
}
