@import 'variables';

.boa-button {
  border-color: $boa-button-background;
  background: $boa-button-background;
  color: $boa-button-color;

  &:hover,
  &:focus {
    background: darken($boa-button-background, 20);
  }

  &:active,
  &--pressed {
    &,
    &:hover,
    &:focus {
      background: darken($boa-button-background, 40);
    }
  }
}
