@import "variables";

.boa-button {
  background: $boa-button-background;
  color: $boa-button-color;
  border-color: $boa-button-background;

  &:hover,
  &:focus {
    background: darken($boa-button-background, 20);
  }

  &:active,
  &--pressed {
    &,
    &:hover,
    &:focus, {
      background: darken($boa-button-background, 40);
    }
  }
}
