@import "variables";

.boa-button--primary {
  &.boa-button {
    background: $boa-primary-button-background;
    color: $boa-primary-button-color;
    border-color: $boa-primary-button-border-color;

    &:hover,
    &:focus,
    &--hovered,
    &--focused {
      background: saturate($boa-primary-button-background, 20);
    }

    &:active,
    &--active {
      &,
      &:hover,
      &:focus, {
        background: darken($boa-primary-button-background, 10);
      }
    }
  }
}
